/* content styling */
#content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 80px;
}

#hotel-div {
    display: grid;
    grid-template-columns: 400px 400px 400px 400px;
    margin: 5%;
    border: 1px solid black;
    height: 480px;
    grid-gap: 1px;
}
#hotel-div > #payment-div {
    border-left: 1px solid black;
}

#hotel-image-div {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    align-self: center;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-image: none;
}

.carousel-control-prev-icon {
    position: absolute;
    right: 100px;
}

.carousel-control-next-icon {
    position: absolute;
    left: 100px;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: rosybrown;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: rosybrown;
}

#payment-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.form-div {
    display: flex;
    margin: 10%;
}
.label-div {
    width: 40%;
}
.input {
    width: 150px;
}
#book-now {
    margin-left: 100%;
}
#img-radison {
    height: 350px;
    width: 500px;
}

#hotel-description-div {
    margin-left: 5%;
}
#hotel-description-div h2, h4 {
    font-family: cursive;
}

.checked {
    color: orange;
}
.half-checked {
    color: orange;
}

/* Media query for smaller size display */
@media only screen and (max-width:576px) {
    #content {
        margin: 0 auto;
        width: 80%;
        margin-top: 80px;
        margin-bottom: 80px;
    }


    #hotel-div {
        display: flex;
        flex-direction: column;
        border-color: transparent;
        margin: 0 auto;
    }

    .carousel-img {
        width: 300px;
        height: 250px;
    }

    #hotel-image-div {
        border: 1px solid black;
    }

    #payment-div {
        margin-top: 30px;
        border: 1px solid black;
    }

    #hotel-description-div {
        margin: 0 auto;
        margin-top: 220px;
    }

    .carousel-control-prev-icon {
        height: 0px;
        width: 0px;
        right: 0px;
    }
    
    .carousel-control-next-icon {
        height: 0px;
        width: 0px;
        left: 0px;
    }

    .carousel-control-next-icon:after, .carousel-control-prev-icon:after {
        color: transparent;
    }

    #copyright-para {
        font-size: 10px;
    }

    .social-media-image {
        height: 15px;
        width: 18px;
    }

}

/* Media query for medium size display */
@media only screen and (min-width:577px) and (max-width:768px) {
    .carousel-img {
        width: 280px;
        height: 250px;
    }

    #hotel-div {
        display: grid;
        grid-template-columns: 140px 140px 140px 140px;
        border: 1px solid black;
        height: 400px;
        grid-gap: 1px;
    }

    #payment-div {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .carousel-control-prev-icon {
        height: 0px;
        width: 0px;
        right: 0px;
    }
    
    .carousel-control-next-icon {
        height: 0px;
        width: 0px;
        left: 0px;
    }

    .form-div {
        margin: 5%;
    }

    .input {
        width: 110px;
    }

    #book-now {
        margin-left: 50%;
    }

}

@media only screen and (max-width:370px) {
    .carousel-img {
        width: 250px;
        height: 230px;
    }

    #contactInputEmail {
        width: 250px;
    }
}

@media only screen and (min-width:769px) and (max-width:1250px) {
    #hotel-div {
        border-right: transparent;
    }

    #payment-div {
        border: 1px solid black;
    }
}