/* body styling */
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}
#main {
    height: 100%;
    width: 100%;
}

/* header styling */
header {
    position: fixed;
    background-color: rosybrown;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
#logo {
    height: 60px;
    width: 60px;
}
#login {
    float: right;
    text-decoration: none;
    color: black;
    margin-top: 20px;
    margin-right: 20px;
}


/* content styling */
#content {
    display: block;
    position: absolute;
    width: 100%;
    top: 60px;
    bottom: 70px;
    overflow: auto;
}
#hotel-image {
    margin: 2% 4% 0%;
}
#radison {
    height: 500px;
    width: 500px;
}
#hotel-form {
    margin: 0% 4% 1%;
}
#hotel-description {
    margin: 1% 4% 2%;
}

/* footer styling */
footer {
    position: fixed;
    background-color: rosybrown;
    width: 100%;
    left: 0;
    bottom: 0;
    top: auto;
    z-index: 1;
}
#contact {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: black;
}
#social {
    float: right;
    margin-right: 1%;
    margin-top: 20px;
}
.social-link {
    text-decoration: none;
}
.social-media-image {
    height: 20px;
    width: 22px;
}
#copyright {
    float: left;
    margin-top: 40px;
    margin-left: 34%;
    font-size: small;
}