/* body styling */
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}
#main {
    height: 100%;
    width: 100%;
}

/* header styling */
header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: rosybrown;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

/* logo styling */
#logo-div {
    margin-left: 1%;
}
#logo-img {
    height: 60px;
    width: 60px;
}

/* login styling */
#login-div {
    margin-top: 1.5%;
    margin-right: 2%;
}
#login-link {
    text-decoration: none;
    color: black;
}


/* content styling */
#content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 80px;
}

#hotel-div {
    display: grid;
    grid-template-columns: 400px 400px 400px 400px;
    margin: 5%;
    border: 1px solid black;
    height: 420px;
    grid-gap: 1px;
}
#hotel-div > #payment-div {
    border-left: 1px solid black;
}

#hotel-image-div {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    align-self: center;
}
#payment-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.form-div {
    display: flex;
    margin: 10%;
}
.label-div {
    width: 40%;
}
.input {
    width: 150px;
}
#submit {
    margin-left: 100%;
}
#img-radison {
    height: 350px;
    width: 500px;
}



#hotel-description-div {
    margin-left: 2%;
}
#hotel-description-div h2, h4 {
    font-family: cursive;
}

/* footer styling */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: rosybrown;
    width: 100%;
    left: 0;
    bottom: 0;
    top: auto;
    z-index: 1;
}

/* contact styling */
#contact-div {
    margin-left: 2%;
}
#contact-link {
    text-decoration: none;
    color: black;
}

/* copyright styling */
#copyright-para {
    font-size: small;
}

/* social links styling */
#social-div {
    margin-right: 2%;
}
.social-link {
    text-decoration: none;
}
.social-media-image {
    height: 20px;
    width: 22px;
}