/* body styling */
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}
#main {
    height: 100%;
    width: 100%;
}

/* header styling */
header {
    position: fixed;
    background-color: rosybrown;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
#logo {
    height: 60px;
    width: 60px;
}
#login {
    float: right;
    text-decoration: none;
    color: black;
    margin-top: 20px;
    margin-right: 20px;
}

/* content styling */
#content {
    display: block;
    position: absolute;
    width: 100%;
    top: 80px;
    bottom: 100px;
    overflow: auto;
}
#list-map {
    float: left;
    margin-left: 42%;
}
.view-link {
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#hotel-set1 {
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
    margin-top: 50px;
}
#hotel-set2 {
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
}
#detail-link {
    text-decoration: none;
    color: black;
}
.hotels {
    margin: 2%;
    background-color: rgb(132,136,139);
    width: 40%;
    margin-left: 75px;
}
.hotel-images {
    height: 200px;
    width: 250px;
}
#map-view {
    display: none;
}

/* footer styling */
footer {
    position: fixed;
    background-color: rosybrown;
    width: 100%;
    left: 0;
    bottom: 0;
    top: auto;
    z-index: 1;
}
#contact {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: black;
}
#social {
    float: right;
    margin-right: 1%;
    margin-top: 20px;
}
.social-link {
    text-decoration: none;
}
.social-media-image {
    height: 20px;
    width: 22px;
}
#copyright {
    float: left;
    margin-top: 40px;
    margin-left: 34%;
    font-size: small;
}