/* content styling */
#content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 100px;
}

/* view div styling */
#view-div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    margin-left: 35%;
    margin-right: 35%;
}

/* list view styling */
#list-view {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
}
.hotel-link {
    text-decoration: none;
    color: black;
}
.hotel-div {
    margin: 2%;
    background-color: lightgrey;
    width: 40%;
    margin-left: 75px;
}
.hotel-div:hover {
    background-color: rosybrown;
}
.hotel-info-div {
    display: flex;
}
.hotel-images {
    height: 200px;
    width: 250px;
}
.hotel-info {
    margin-left: 5%;
    margin-top: 2%;
}

.checked {
    color: orange;
}
.half-checked {
    color: orange;
}
/* map view styling */
#map-view {
    position: absolute;
    top: 200px;
    height: 100%;
    width: 100%;
}
.book-now-link {
    color: black;
}

/* Media query for smaller size display */
@media only screen and (max-width:576px) {

    #view-div {
        margin: 0 auto;
        margin-top: 5%;
    }

    .hotel-div {
        width: auto;
    }

    #map-view {
        top: 200px;
    }

    .hotel-info-div {
        flex-direction: column;
    }

    #copyright-para {
        font-size: 10px;
    }

    .social-media-image {
        height: 15px;
        width: 18px;
    }
}

/* Media query for medium size display */
@media only screen and (min-width:576px) and (max-width:768px) {
    .hotel-div {
        width: 500px;
    }

    #view-div {
        margin: 0 auto;
        margin-top: 20px;
    }

    #map-view {
        top: 200px;
    }
}

@media only screen and (max-width:370px) {
    .hotel-images {
        height: 150px;
        width: 200px;
    }

    #contactInputEmail {
        width: 250px;
    }
}