/* content styling */
#loader {
    width: 70px;
    height: 70px;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 20%;
    border: 12px solid;
    border-radius: 50%;
    border-color: #444444 #f3f3f3 #f3f3f3 #f3f3f3;
}