/* content styling */
#content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 120px;
}
#hotel-info {
    display: flex;
    align-items: center;
    background-color: rgb(132,136,139);
    width: 630px;
    height: 270px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 25%;
}
#info-div {
    margin-left: 2%;
}
#radison {
    height: 270px;
    width: 300px;
}
#customer-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rosybrown;
}
#customer-info {
    margin-top: 2%;
}
#pay-button {
    color: white;
    background-color: green;
}

/* Media query for smaller size display */
@media only screen and (max-width:576px) {
    #hotel-info {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 400px;
        margin: 0 auto;
        margin-top: 20px;
    }

    #customer-div {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        align-items: flex-start;
    }

    #customer-info {
        margin-left: 2%;
    }

    #tariff {
        margin-left: 2%;
    }

    #payment-link-div {
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #copyright-para {
        font-size: 10px;
    }

    .social-media-image {
        height: 15px;
        width: 18px;
    }

}

/* Media query for medium size display */
@media only screen and (min-width:576px) and (max-width:768px) {
    #hotel-info {
        width: 500px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #customer-info {
        margin-left: 10px;
    }

    #payment-link-div {
        margin-right: 10px;
    }
}

@media only screen and (max-width:370px) {
    #contactInputEmail {
        width: 250px;
    }
}