/* body styling */
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}
#main {
    height: 100%;
    width: 100%;
}

/* header styling */
header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: rosybrown;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

/* logo styling */
#logo-div {
    margin-left: 1%;
}
#logo-img {
    height: 60px;
    width: 60px;
}

/* login styling */
#login-div {
    margin-top: 1.5%;
    margin-right: 2%;
}
#loginModal .modal-body {
    display: flex;
    justify-content: center;
}
#loginModal .modal-footer {
    display: flex;
    justify-content: center;
}


/* content styling */
#content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 120px;
}
#hotel-info {
    display: flex;
    align-items: center;
    background-color: rgb(132,136,139);
    width: 630px;
    height: 270px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 25%;
}
#info-div {
    margin-left: 2%;
}
#radison {
    height: 270px;
    width: 300px;
}
#customer-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rosybrown;
}
#customer-info {
    margin-top: 2%;
}
#pay-button {
    color: white;
    background-color: green;
}

/* footer styling */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: rosybrown;
    width: 100%;
    left: 0;
    bottom: 0;
    top: auto;
    z-index: 1;
}

/* contact styling */
#contact-div {
    margin: 1%;
    margin-left: 2%;
}

/* copyright styling */
#copyright-para {
    font-size: small;
}

/* social links styling */
#social-div {
    margin-right: 2%;
}
.social-link {
    text-decoration: none;
}
.social-media-image {
    height: 20px;
    width: 22px;
}
#contact-form {
    display: flex;
}
#contactInputEmail {
    width: 300px;
}
